<div class="jumbotron">
  <h1>CPS Client - angular</h1>
  
</div>

<div class="row marketing">
  <p>You now have</p>
    <ul>
      <li class="dropdown" uib-dropdown>
        <a href="" class="dropdown-toggle" uib-dropdown-toggle>
          Click me to see some awesome things!
        </a>
        <ul class="dropdown-menu" uib-dropdown-menu>
          <li ng-repeat="thing in awesomeThings">
            <a>{{thing}}</a>
          </li>
        </ul>
      </li>
    </ul>
    <p>installed.</p>
    <h3>Enjoy coding! - Yeoman</h3>
   
</div>
